!!! 5
%html{html_attrs(I18n.locale)}
  %head
    %title= content_for?(:title) ? "Identity - #{yield(:title)}" : "Identity"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .content
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          .alert{class: "alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
            %button.close{type: 'button', :'data-dismiss' => 'alert', :'aria-hidden' => 'true'} &times;
            = content_tag :div, msg, :id => "flash_#{name}"
      = yield
